.nav{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.nav div{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px;
}
.main button{
    margin-left: 50px;
}
.card {
    width: 350px;
    height: 200px;
    background-color: #003459;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
    overflow: auto;
}
.card p{
    font-size: 1.2rem;
}

.card:hover {
    background-color: #294866;
    transform: scale(1.1);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.catList{
    font-size: 2rem;
}

.categorylist{
    display: flex;
    flex-direction: column;
    gap: 80px;
}


