
.supplierPage{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.productCard {
    background-color: #0a3b5a;
    color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin: 50px;
    width: 800px;
    height: 230px;
    font-family: 'Arial', sans-serif;
    overflow: auto;

}

.productCardHeader {
    display: flex;
    gap: 150px;
    font-weight: bold;
}

.productCardContent {
    display: flex;
    width: 350px;
    gap: 150px;
    margin-top: 10px;
}

.productCardDescription {
    margin-top: 10px;
    color: #cfcfcf;
}
.nav{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.nav div{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.productList{
    margin-left: 300px;
}